@font-face {
    font-family: 'Berghan Regular';
    src: url('../asset/fonts/Berghan-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Regular';
    src: url('../asset/fonts/OpenSans-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ThinIta.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Hairline.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-HairlineI.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-LightIta.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-RegIta.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-MedIta.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-BoldIta.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ExtraBold.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ExtBdIta.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-BlackIta.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ExtBlk.ttf');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ExtBlkIta.ttf');
    font-weight: 950;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ExtLt.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../asset/fonts/HelveticaNowDisplay-ExtLtIta.ttf');
    font-weight: 400;
    font-style: italic;
}